<!-- Template: loginPAM.html

Requires
    Substitutes (to be started with a $)

**********************************************************************
NOTE: DO NOT DELETE THE COMMENT BELOW:
      -------------------------------

<getAccessTrans name=dynTable>
 <tr>
   <th align="left" bgcolor="#6699CC"></th>
   <th bgcolor="#6699CC"></th>
   <td bgcolor="#6699CC">
     $NameLabel <br>
     $NameValue
   </td>
 </tr>
</getAccessTrans>
**********************************************************************
-->
<BASE target='_top'>
<HTML>
<META HTTP-EQUIV="Expires" CONTENT="-1">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=UTF-8">
<!--
<meta name="viewport" content="width=device-width,initial-scale=0.5,minimum-scale=0.5,maximum-scale=0.5,user-scalable=yes">
-->
<meta name="viewport" content="width=device-width,user-scalable=yes">
<SCRIPT LANGUAGE="JavaScript">
var authType = "nothing";


function idgisSetRedirectionCookie( theForm ) {


    if(theForm.usr_name != undefined){
        var upperStr = theForm.usr_name.value.toUpperCase();
        var normalStr = theForm.usr_name.value;

        if(upperStr != normalStr){
//	    window.location.href = "http://portal.titech.ac.jp/portal.pl"+"?Message=fail&GAURI="+theForm.HiddenURI.value;
//	    window.location.href = "https://portal.nap.gsic.titech.ac.jp/PasswordFail.html";
              window.location.href = "/"+"?Message=fail&GAURI="+theForm.HiddenURI.value;
	    return false;
        }
    }


        var result = false;

        if ( isSingleClick() ) {

	index = theForm.AUTHMETHOD.selectedIndex;

if(theForm.AUTHTYPE.value=="Cert"){

	return true;
}
	if(index != undefined){
		if (theForm.AUTHMETHOD.options[index].value == "CERTIFICATE") {
			theForm.AUTHTYPE.value="Cert";
			return true;
		}
	}


                result = true;

        }

        return result;

}





<!-- Hide the script from the old browsers.

function findFocus()
{
    for(i=0;i<document.forms[0].elements.length;i++)
    {
        if(document.forms[0].elements[i].value != null &&
           document.forms[0].elements[i].value.length == 0)
        {
            document.forms[0].elements[i].focus();
            break;
        }
    }
}

var checkflag = 1;
function isSingleClick() {
if (checkflag == 1) {
checkflag = checkflag + 1
return true; }
else {
return false;
 }
}

// End hiding-->

</SCRIPT>

<style type="text/css">
<!--

img {
    max-width: 100%;
    height: auto;
}

form th {
	background-color: #005B94;
	font-family: monospace;
	font-weight: bold;
	color: #ffffff;
}

form td {
	background-color: #005B94;
	font-family: monospace;
	font-weight: bold;
	color: #ffffff;
}

td {
	font-family: monospace;
}

-->
</style>

<HEAD>
<TITLE>Entrust GetAccess</TITLE>
</HEAD>


<BODY bgcolor="#FFFFFF" text="#000000" onLoad="findFocus();" onunload="document.login.reset();">
<CENTER>
<IMG SRC="/GetAccess/images/loginbanner.jpg" BORDER="0">
</CENTER>
<br>
<center>

</center>
<br>

<CENTER>
<FORM NAME="login" METHOD="POST" AUTOCOMPLETE="off" ACTION="https://portal.nap.gsic.titech.ac.jp/GetAccess/Login" onSubmit="javascript:{ return idgisSetRedirectionCookie( this ); }">
<TABLE border="3" cellspacing="0" cellpadding="15">
<tr>
<td bgcolor="#6699CC">
<TABLE border="0" cellspacing="0" cellpadding="3">
 <tr>
   <td bgcolor="#6699CC" colspan="3" align="center">Please input your account & password.</td>
 </tr>
 <tr>
   <th align="left" bgcolor="#6699CC"></th>
   <th bgcolor="#6699CC"></th>
   <td bgcolor="#6699CC">
     Account <br>
     <div class="col-sm-7"> <div class="inner-addon left-addon"> <i class="glyphicon glyphicon-user"></i>     <INPUT TYPE="text" NAME="usr_name" VALUE="" SIZE="32" MAXLENGTH="255" class="form-control" ng-model="username"  placeholder="Account" ></div></div>
   </td>
 </tr>
 <tr>
   <th align="left" bgcolor="#6699CC"></th>
   <th bgcolor="#6699CC"></th>
   <td bgcolor="#6699CC">
     Password <br>
     <div class="col-sm-7"><div class="inner-addon left-addon"> <i class="glyphicon glyphicon-lock"></i>     <INPUT TYPE="password" NAME="usr_password" VALUE="" SIZE="32" MAXLENGTH="32" class="form-control" ng-model="password"  placeholder="Password" ></div></div>
   </td>
 </tr>


 </tr>
 <tr>
   <td bgcolor="#6699CC"></td>
   <td bgcolor="#6699CC"></td>
   <td bgcolor="#6699CC"></td>
 </tr>
 <tr>
   <td align="center" bgcolor="#6699CC" colspan="3">
     <input type="submit" name="OK" value="    OK    ">
<!--  <input type='hidden' name='LOCALE' value='ja_JP'>  -->
     <input type='hidden' name='AUTHTYPE'>
     <input type='hidden' name='HiddenURI' value="https://portal.nap.gsic.titech.ac.jp/GetAccess/ResourceList">
<input type='hidden' name='Template' value="userpass_key">
<input type='hidden' name='AUTHMETHOD' value="UserPassword">
<input type='hidden' name='pageGenTime' value="100">
<input type='hidden' name='LOCALE' value="ja_JP">

   </td>
  </tr>
</TABLE>
</td>
</tr>
</table>
 <!-- Random Token feature - Start --><input type='hidden' name='CSRFFormToken' value='CSRFFormTokenValue'><!-- Random Token feature - End --></FORM>

<TABLE>
<TR>
	<TD>
		<UL>
			<LI>上記の入力は<B>『半角』</B>で、かつ英字に関しては<B>『大文字・小文字』</B>の区別をします。</LI>
			<LI>Account name and password are case-sensitive. </LI>
		</UL>
	</TD>
</TR>
</TABLE>

<HR NOSHADE>
<center>
[<A HREF="https://portal.titech.ac.jp/">Back to top page</A>]
</center>

<DIV align="right">
getaccess001
</DIV>

</CENTER>
</BODY>
</HTML>
